/* Body Layout */

body
{
  font-weight: $font-weight-base;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@mixin user-select($type)
{
  -webkit-user-select: $type;
  user-select: $type;
  cursor: if($type == none, default, auto);
}

body *:not(input)
{
  @include user-select(none);
}


/* Typography */

b, strong
{
  font-weight: $headings-font-weight;
}

h3
{
  body.tablet &
  {
    font-size: $font-size-h4 * 1.22;
  }

  body.phone &
  {
    font-size: $font-size-h4;
  }
}

@mixin pointer()
{
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

@mixin hyphens-auto()
{
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

@mixin font-thin-large()
{
  font-weight: $font-weight-base;
  font-size: $font-size-h6 * 1.1;
  line-height: $font-size-h6 * 1.22;

  @media (min-width : $tablet-width)
  {
    font-size: $font-size-h5;
    line-height: $font-size-h5 * 1.1;
    letter-spacing: 0.25px;
  }

  @media (min-width : $main-width)
  {
    font-weight: 100;
    font-size: $font-size-h4;
    line-height: $font-size-h4 * 1.1;
    letter-spacing: 0.75px;
  }
}

@mixin basic-typography()
{
  p
  {
    @include hyphens-auto;
    text-align: justify;

    a, a:hover, a:focus
    {
      cursor: pointer;
      color: $text-color-strong;
      text-decoration: underline;
    }
  }
}


/* Animation */

@mixin keyframes($aname)
{
  @-webkit-keyframes #{$aname}
  {
    @content;
  }

  @keyframes #{$aname}
  {
    @content;
  }
}

@mixin animation-name($aname)
{
  -webkit-animation-name: $aname;
  animation-name: $aname;
}

@mixin animation-duration($aduration)
{
  -webkit-animation-duration: $aduration;
  animation-duration: $aduration;
}


/* Positioning */

@mixin main-width-center()
{
  position: relative;
  left: 50%;
  width: $main-width;
  margin-left: -$main-width*0.5;
}

@mixin scroll-y
{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin abscroll
{
  @include scroll-y;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  body.pulsing &
  {
    overflow: hidden;
  }
}

@mixin clearfix()
{
  &::before, &::after
  {
    content: " ";
    display: table;
  }

  &::after
  {
    clear: both;
  }
}

table
{
  border: none;
  border-collapse: collapse;
  border-spacing: 0;

  td
  {
    padding: 0;
    border: none;
  }

  th
  {
    font-weight: $headings-font-weight;
  }
}

.cell-bottom
{
  display: table-cell;
  vertical-align: bottom;
}


/* Buttons & Forms & Inputs */

.btn
{
  @include pointer;

  font-size: $font-size-base * 1.1;
  padding-top: $padding-base-vertical - 2px;
  padding-bottom: $padding-base-vertical - 2px;

  &:hover, &:focus, &.focus
  {
    color: $primary-color;

    &.btn-primary
    {
      color: $btn-primary-color;
    }

    &.btn-success
    {
      color: $btn-success-color;
    }

    &.btn-info
    {
      color: $btn-info-color;
    }

    &.btn-warning
    {
      color: $btn-warning-color;
    }

    &.btn-danger
    {
      color: $btn-danger-color;
    }
  }
}

@mixin field-placeholder()
{
  &::-moz-placeholder
  {
    @content;
  }

  &::-webkit-input-placeholder
  {
    @content;
  }

  &:-ms-input-placeholder
  {
    @content;
  }
}

form
{
  label
  {
    font-weight: $font-weight-thin;
  }

  .form-group
  {
    &.error-empty
    {
      input
      {
        @include field-placeholder() {
          color: $input-color-error;
        }
      }
    }
  }

  .form-control
  {
    font-weight: $font-weight-base;

    &[disabled],  &[readonly]
    {
      border-color: $input-border-disabled;

      & + .input-group-addon
      {
        background-color: $input-bg-disabled;
      }
    }

    @include field-placeholder() {
      font-style: italic;
    }

    &[type=text]
    {
      padding-bottom: $padding-base-vertical - 2px;
    }
  }
}

input.date-input-value-copy
{
  height: 36px;
  position: absolute;
  visibility: hidden;
  display: block;
  width:0.1px;
  z-index: -999;
}

.checkbox-inline
{
  @include pointer
}

.input-group-addon
{
  padding: 0;
  color: $input-color;
  background-color: $input-bg;

  > .btn
  {
    padding-top: $padding-base-vertical - 3px;
    padding-bottom: $padding-base-vertical - 3px;
  }
}


/* Date-Time Picker */

.bootstrap-datetimepicker-widget.date-only
{
  .picker-switch td:first-child
  {
    display: none;
  }

  .timepicker
  {
    display: none;
  }
}


/* Navigation Bar (General, Desktop) */

$nav-height-desktop : 100px;

.mainav
{
  background: linear-gradient(to bottom, $gray-darker 0, $gray-darkest 100%);
  border-top: 1px solid $border-frame-color;

  body.desktop &
  {
    margin-top: 5px;
    height: $nav-height-desktop - 20px;

    &.glow
    {
      box-shadow: 0 5px 150px 0 $border-frame-color;
    }
  }

  &:not(.glow)
  {
    border-bottom: 1px solid darken($border-frame-color, 33%);
  }

  ul
  {
    @include list-unstyled;
    margin: 0;

    body.desktop &
    {
      height: $nav-height-desktop - 21px;
      padding: 0 0 0 150px;

      @media (min-width : $main-width)
      {
        @include main-width-center;
      }
    }

    i.warlord-logo
    {
      @include pointer;
      position: absolute;
      display: inline-block;
      font-weight: $font-weight-thin;
      font-style: normal;

      body.desktop &
      {
        margin: 16px 0 0 -150px;
        font-size: 28px;
        line-height: 24px;
      }

      span:nth-child(1)
      {
        color: $overflash-color;
      }

      span:nth-child(3)
      {
        display: block;
        font-style: italic;
        text-align: center;

        body.desktop &
        {
          font-size: 22px;
          letter-spacing: 4px;
        }
      }
    }

    i.menu-bars
    {
      @include pointer;
      position: absolute;
      right: 0;

      body.desktop &
      {
        top: 25px;
      }
    }

    li
    {
      @include font-thin-large;
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;

      body.desktop &
      {
        height: $nav-height-desktop - 21px;
      }

      span
      {
        display: inline-block;
        text-align: center;
        padding: 0 10px;
      }

      span.fixed-width
      {
        padding: 0;
      }

      &.menu
      {
        @include pointer;
        transition: background-color 0.25s, color 0.35s;

        &.active, &:hover, &.attention.active, &.attention:hover
        {
          color: $primary-color;
          font-weight: $font-weight-base;
        }

        &:hover
        {
          background-color: $secondary-color;
        }
      }

      &.glue
      {
        width: 100%;
        padding: 0;
      }
    }
  }
}

/* Navigation Bar (Tablet) */

$nav-height-tablet : 65px;

body.tablet .mainav
{
  padding-top: 5px;
  height: $nav-height-tablet - 15px;

  &.glow
  {
    box-shadow: 0 3px 50px 0 $border-frame-color;
  }

  ul
  {
    height: $nav-height-tablet - 25px;
    padding: 0 40px 0 90px;

    @media (min-width : $main-width)
    {
      @include main-width-center;
    }

    i.warlord-logo
    {
      margin: 1px 0 0 -85px;
      font-size: 20px;
      line-height: 18px;

      span:nth-child(3)
      {
        font-size: 18px;
        letter-spacing: 2px;
      }
    }

    i.menu-bars
    {
      top: 12px;
      width: 26px;
      height: 21.9375px;
      right: 10px;
    }

    li
    {
      height: $nav-height-tablet - 25px;
    }
  }
}


/* Navigation Bar (Phone) */

$nav-height-phone : 45px;

body.phone .mainav
{
  padding-top: 1px;
  height: $nav-height-phone - 9px;

  &.glow
  {
    box-shadow: 0 3px 50px 0 $border-frame-color;
  }

  ul
  {
    height: $nav-height-phone - 13px;
    padding: 0 40px 0 75px;

    @media (min-width : $main-width)
    {
      @include main-width-center;
    }

    i.warlord-logo
    {
      margin: 1px 0 0 -70px;
      font-size: 16px;
      line-height: 15px;

      span:nth-child(3)
      {
        font-size: 14px;
        letter-spacing: 2px;
      }
    }

    i.menu-bars
    {
      top: 9px;
      width: 20px;
      height: 16.875px;
      right: 10px;
    }

    li
    {
      height: $nav-height-phone - 13px;

      span
      {
        padding: 0 5px;
      }
    }
  }
}



/* Content Page (General, Desktop) */

section.content.page
{
  @include abscroll;

  body.desktop &
  {
    top: $nav-height-desktop;
  }

  > .content-wrapper
  {
    position: relative;
    overflow: hidden;

    body.desktop &
    {
      padding-top: $font-size-h3;
      min-height: calc(100% - #{$font-size-h3});

      @media (min-width : $main-width)
      {
        left: 50%;
        width: $main-width;
        margin-left: -$main-width * 0.5;
      }
    }

    > .content-menu
    {
      @include clearfix;

      body.desktop &
      {
        margin: -$font-size-h3 * 0.75 0 $font-size-base;
      }

      .buttons
      {
        position: relative;

        .right
        {
          float: right;
        }
      }
    }

    > .section-list-repeated
    {
      @include clearfix;
      display: block;

      background-color: $well-bg;
      color: $well-text-color;
      padding: 0.75 * $font-size-base $font-size-base;

      & + .section-list-repeated, & + .section-list-sep
      {
        margin-top: $font-size-base;
      }

      & + .section-list-sep
      {
        height: 0;
        overflow: hidden;
      }

      &.inner
      {
        margin-left: 2 * $font-size-base;
        margin-right: 2 * $font-size-base;
      }

      > .compacted.line
      {
        position: relative;
        line-height: 1px;

        > div
        {
          @include user-select(text);
          font-size: $font-size-h4;
          line-height: $font-size-h4 * 1.22;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &.half
          {
            display: inline-block;
            width: 50%;
            padding-right: $font-size-h4;
          }
        }

        > .sep
        {
          position: absolute;
          display: inline-block;
          width: 1px;
          background-color: rgba($text-color, 0.5);
          top: -0.75 * $font-size-base;
          bottom: -0.75 * $font-size-base;
          margin-left: -0.5 * $font-size-base;

          & + div
          {
            padding-left: 0.5 * $font-size-base;
          }
        }

        > .icons
        {
          display: inline-block;
          position: absolute;
          right: -$font-size-base;
          top: -0.75 * $font-size-base;
          bottom: -0.75 * $font-size-base;
          white-space: nowrap;
          background-color: $well-bg;

          > table
          {
            height: 100%;
          }
        }
      }

      > .expanded.block
      {
        label
        {
          font-size: $font-size-h5 * 1.1;
          letter-spacing: 0.75px;
        }

        .form-control
        {
          font-size: $font-size-h5 * 1.22;
        }

        > .buttons
        {
          @include clearfix;
          margin-top: $font-size-h5 * 1.44;

          > div
          {
            display: inline-block;
          }

          .left
          {
            float: left;
          }

          .right
          {
            float: right;
          }

          .btn + .btn
          {
            margin-left: $font-size-h5;
          }
        }
      }

      @mixin else-bg($bg)
      {
        background-color: $bg;

        > .compacted.line
        {
          > .icons
          {
            background-color: $bg;
          }
        }
      }

      &.odd
      {
        @include else-bg($well-bg-odd)
      }

      &.alter
      {
        @include else-bg($well-bg-alter)
      }

      &.alter.odd
      {
        @include else-bg($well-bg-alter-odd)
      }
    }
  }
}


/* Content Page (Tablet) */

body.tablet section.content.page
{
  top: $nav-height-tablet;

  > .content-wrapper
  {
    min-height: 100%;

    > .content-menu
    {
       margin: 0 10px $font-size-base;
    }

    > .section-list-repeated
    {
      padding: 0.5 * $font-size-base 0.75 * $font-size-base;

      & + .section-list-repeated, & + .section-list-sep
      {
        margin-top: 0.75 * $font-size-base;
      }

      &.inner
      {
        margin-left: 1.5 * $font-size-base;
        margin-right: 1.5 * $font-size-base;
      }

      > .compacted.line
      {
        > div
        {
          font-size: $font-size-h5;
          line-height: $font-size-h5 * 1.22;
        }

        > .sep
        {
          top: -0.5 * $font-size-base;
          bottom: -0.5 * $font-size-base;
          margin-left: -0.25 * $font-size-base;

          & + div
          {
            padding-left: 0.25 * $font-size-base;
          }
        }

        > .icons
        {
          right: -$font-size-base * 0.5;
          top: -0.5 * $font-size-base;
          bottom: -0.5 * $font-size-base;
        }
      }

      > .expanded.block
      {
        label
        {
          font-size: $font-size-h5;
          letter-spacing: 0.5px;
        }

        .form-control
        {
          font-size: $font-size-h5 * 1.11;
        }

        > .buttons
        {
          margin-top: $font-size-h5 * 1.22;

          .btn + .btn
          {
            margin-left: $font-size-h5 * 0.75;
          }
        }
      }
    }
  }
}


/* Content Page (Phone) */

body.phone section.content.page
{
  top: $nav-height-phone;

  > .content-wrapper
  {
    min-height: 100%;

    > .content-menu
    {
       margin: 0 10px $font-size-base;
    }

    > .section-list-repeated
    {
      padding: 0.5 * $font-size-base 0.5 * $font-size-base;

      & + .section-list-repeated, & + .section-list-sep
      {
        margin-top: 0.5 * $font-size-base;
      }

      &.inner
      {
        margin-left: 1 * $font-size-base;
        margin-right: 1 * $font-size-base;
      }

      > .compacted.line
      {
        > div
        {
          font-size: $font-size-h5;
          line-height: $font-size-h5 * 1.22;
        }

        > .sep
        {
          top: -0.5 * $font-size-base;
          bottom: -0.5 * $font-size-base;
          margin-left: -0.25 * $font-size-base;

          & + div
          {
            padding-left: 0.25 * $font-size-base;
          }
        }

        > .icons
        {
          right: -$font-size-base * 0.5;
          top: -0.5 * $font-size-base;
          bottom: -0.5 * $font-size-base;
        }
      }

      > .expanded.block
      {
        label
        {
          font-size: $font-size-base;
          letter-spacing: 0.5px;
        }

        .form-control
        {
          font-size: $font-size-base;
        }

        > .buttons
        {
          margin-top: $font-size-base;

          > div
          {
            display: block;
          }

          > div + div
          {
            margin-top: $font-size-base * 0.5;
          }

          .btn
          {
            display: block;
            width: 100%;
          }

          .btn + .btn
          {
            margin: $font-size-base * 0.5 0 0 0;
          }

          .left, .right
          {
            float: none;
          }
        }
      }
    }
  }
}


/* Content Well General */

section.content.well-wrapper
{
  @include scroll-y;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  body.pulsing &
  {
    overflow: hidden;
  }

  body.desktop &
  {
    top: $nav-height-desktop;
    max-height: calc(100% - #{$nav-height-desktop});
  }

  body.tablet &
  {
    top: $nav-height-tablet;
  }

  body.phone &
  {
    top: $nav-height-phone;
  }
}


@mixin well-general()
{
  overflow: hidden;

  > .content-wrapper
  {
    @include basic-typography;
    position: relative;
    width: 100%;
    padding: $well-padding;
    background-color: $well-bg;
    border: 1px solid $border-frame-color;

    body.desktop &
    {
      font-size: $font-size-h5;
    }

    body.tablet &
    {
      font-size: $font-size-base;
    }

    body.phone &
    {
      font-size: $font-size-base * 0.9;
    }

    > h3
    {
      text-align: center;
      letter-spacing: 0.5px;
      font-weight: 100;
    }

    > h3:first-child
    {
      margin: 0 0 $font-size-h4 0;

      body.desktop &
      {
        margin: 0 0 floor($font-size-h3 * 1.44) 0;
      }
    }

    p.footer
    {
      margin-bottom: 0;
    }

    p.right
    {
      text-align: right;
    }
  }

  &:not(.open) > .content-wrapper > *
  {
    visibility: hidden !important;
  }
}


/* Content Well Horizontal */

@mixin well-horizontal()
{
  > .content-wrapper
  {
    padding: $well-padding $well-padding * 4;
    border-width: 0 1px 0 1px;

    &::before, &::after
    {
      content: "";
      display: block;
      position: absolute;
      width: $well-padding * 2;
    }

    &::before
    {
      left: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(to right, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }

    &::after
    {
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to left, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }
  }

  &:not(.open)
  {
    transition: margin-left 0.5s, width 0.5s;
  }

  &.collapsed
  {
    width: 0;
    margin-left: 0;
    transition: 0s;
  }
}


/* Content Well Vertical */

@mixin well-vertical()
{
  > .content-wrapper
  {
    border-width: 1px 0 1px 0;

    &::before, &::after
    {
      content: "";
      display: block;
      position: absolute;
      height: $well-padding;
    }

    &::before
    {
      left: 0;
      top: 0;
      right: 0;
      background: linear-gradient(to bottom, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }

    &::after
    {
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }
  }

  &:not(.open)
  {
    transition: height 0.5s;
  }

  &.collapsed
  {
    height: 0 !important;
    transition: 0s;
  }
}


/* Main Page (About) */

article.content.well.general
{
  @include well-general;

  @mixin abswidth($width)
  {
    position: absolute;
    left: 50%;
    margin-left: -$width * 0.5;
    width: $width;

    > .content-wrapper
    {
      width: $width;
    }
  }

  body.desktop &
  {
    @include well-horizontal;
    @include abswidth($main-width);
  }

  body.tablet &, body.phone &
  {
    @include well-vertical;
  }
}
