/* Body Layout */

body
{
  font-weight: $font-weight-base;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@mixin user-select($type)
{
  -webkit-user-select: $type;
  user-select: $type;
  cursor: if($type == none, default, auto);
}

body *:not(input)
{
  @include user-select(none);
}


/* Typography */

b, strong
{
  font-weight: $headings-font-weight;
}

@mixin pointer()
{
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

@mixin hyphens-auto()
{
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

@mixin font-thin-large()
{
  font-weight: $font-weight-base;
  font-size: $font-size-h6;
  line-height: $font-size-h6 * 1.1;

  @media (min-width : $tablet-width)
  {
    font-size: $font-size-h5;
    line-height: $font-size-h5 * 1.1;
    letter-spacing: 0.25px;
  }

  @media (min-width : $main-width)
  {
    font-weight: 100;
    font-size: $font-size-h4;
    line-height: $font-size-h4 * 1.1;
    letter-spacing: 0.75px;
  }
}


/* Animation */

@mixin keyframes($aname)
{
  @-webkit-keyframes #{$aname}
  {
    @content;
  }

  @keyframes #{$aname}
  {
    @content;
  }
}

@mixin animation-name($aname)
{
  -webkit-animation-name: $aname;
  animation-name: $aname;
}

@mixin animation-duration($aduration)
{
  -webkit-animation-duration: $aduration;
  animation-duration: $aduration;
}


/* Positioning */

@mixin main-width-center()
{
  position: relative;
  left: 50%;
  width: $main-width;
  margin-left: -$main-width*0.5;
}

@mixin scroll-y
{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin abscroll
{
  @include scroll-y;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  body.pulsing &
  {
    overflow: hidden;
  }
}

@mixin abswidth($width)
{
  position: absolute;
  left: 50%;
  margin-left: -$width * 0.5;
  width: $width;
}

@mixin clearfix()
{
  &::before, &::after
  {
    content: " ";
    display: table;
  }

  &::after
  {
    clear: both;
  }
}

table
{
  border: none;
  border-collapse: collapse;
  border-spacing: 0;

  td
  {
    padding: 0;
    border: none;
  }

  th
  {
    font-weight: $headings-font-weight;
  }
}


/* Buttons & Forms & Inputs */

.btn
{
  @include pointer;

  font-size: $font-size-base * 1.1;
  padding-top: $padding-base-vertical - 2px;
  padding-bottom: $padding-base-vertical - 2px;

  &:hover, &:focus, &.focus
  {
    color: $primary-color;

    &.btn-primary
    {
      color: $btn-primary-color;
    }

    &.btn-success
    {
      color: $btn-success-color;
    }

    &.btn-info
    {
      color: $btn-info-color;
    }

    &.btn-warning
    {
      color: $btn-warning-color;
    }

    &.btn-danger
    {
      color: $btn-danger-color;
    }
  }
}

@mixin field-placeholder()
{
  &::-moz-placeholder
  {
    @content;
  }

  &::-webkit-input-placeholder
  {
    @content;
  }

  &:-ms-input-placeholder
  {
    @content;
  }
}

form
{
  label
  {
    font-weight: $font-weight-thin;
  }

  .form-control
  {
    font-weight: $font-weight-base;

    &[disabled],  &[readonly]
    {
      border-color: $input-border-disabled;

      & + .input-group-addon
      {
        background-color: $input-bg-disabled;
      }
    }

    @include field-placeholder() {
      font-style: italic;
    }

    &[type=text]
    {
      padding-bottom: $padding-base-vertical - 2px;
    }
  }
}

input.date-input-value-copy
{
  height: 36px;
  position: absolute;
  visibility: hidden;
  display: block;
  width:0.1px;
  z-index: -999;
}

.checkbox-inline
{
  @include pointer
}

.input-group-addon
{
  padding: 0;
  color: $input-color;
  background-color: $input-bg;

  > .btn
  {
    padding-top: $padding-base-vertical - 3px;
    padding-bottom: $padding-base-vertical - 3px;
  }
}


/* Date-Time Picker */

.bootstrap-datetimepicker-widget.date-only
{
  .picker-switch td:first-child
  {
    display: none;
  }

  .timepicker
  {
    display: none;
  }
}


/* Navigation Bar (Desktop) */

$nav-height-desktop : 100px;

body.desktop .mainav
{
  margin-top: 5px;
  height: $nav-height-desktop - 20px;
  background: linear-gradient(to bottom, $gray-darker 0, $gray-darkest 100%);
  border-top: 1px solid $border-frame-color;

  &.glow
  {
    box-shadow: 0 5px 25px 0 $border-frame-color;
  }

  &:not(.glow)
  {
    border-bottom: 1px solid darken($border-frame-color, 33%);
  }

  ul
  {
    @include list-unstyled;

    @media (min-width : $main-width)
    {
      @include main-width-center;
    }

    height: $nav-height-desktop - 21px;
    padding: 0 0 0 150px;
    margin: 0;

    i.warlord-logo
    {
      @include pointer;
      position: absolute;
      margin: 16px 0 0 -150px;
      display: inline-block;
      font-weight: $font-weight-thin;
      font-size: 28px;
      font-style: normal;
      line-height: 24px;

      span:nth-child(1)
      {
        color: $overflash-color;
      }

      span:nth-child(3)
      {
        display: block;
        font-size: 22px;
        font-style: italic;
        text-align: center;
        letter-spacing: 4px;
      }
    }

    li
    {
      @include font-thin-large;

      display: table-cell;
      height: $nav-height-desktop - 21px;
      vertical-align: middle;
      white-space: nowrap;

      span
      {
        display: inline-block;
        text-align: center;
        padding: 0 10px;
      }

      span.fixed
      {
        padding: 0;
      }

      &.menu
      {
        @include pointer;
        transition: background-color 0.25s, color 0.35s;

        &.active, &:hover, &.attention.active, &.attention:hover
        {
          color: $primary-color;
          font-weight: $font-weight-base;
        }

        &:hover
        {
          background-color: $secondary-color;
        }

        &.attention
        {
          position: relative;
          left: 10px;
          color: $attention-color;
          font-weight: $font-weight-base;
        }
      }

      &.glue
      {
        width: 100%;
        padding: 0;
      }
    }
  }
}


/* Content Page (General, Desktop) */

section.content.page
{
  @include abscroll;
  top: $nav-height-desktop;

  > .content-wrapper
  {
    position: relative;
    overflow: hidden;
    margin-top: $font-size-h3;
    min-height: calc(100% - #{$font-size-h3});

    @media (min-width : $main-width)
    {
      left: 50%;
      width: $main-width;
      margin-left: -$main-width * 0.5;
    }

    > .section-list-repeated
    {
      @include clearfix;
      display: block;

      background-color: $well-bg;
      color: $well-text-color;
      padding: 0.75 * $font-size-base $font-size-base;

      & + .section-list-repeated, & + .section-list-sep
      {
        margin-top: $font-size-base;
      }

      & + .section-list-sep
      {
        height: 0;
        overflow: hidden;
      }

      &.inner
      {
        margin-left: 2 * $font-size-base;
        margin-right: 2 * $font-size-base;
      }

      > .compacted.line
      {
        position: relative;
        line-height: 1px;

        > div
        {
          @include user-select(text);
          font-size: $font-size-h4;
          line-height: $font-size-h4 * 1.22;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &.half
          {
            display: inline-block;
            width: 50%;
            padding-right: $font-size-h4;
          }
        }

        > .sep
        {
          position: absolute;
          display: inline-block;
          width: 1px;
          background-color: rgba($text-color, 0.5);
          top: -0.75 * $font-size-base;
          bottom: -0.75 * $font-size-base;
          margin-left: -0.5 * $font-size-base;

          & + div
          {
            padding-left: 0.5 * $font-size-base;
          }
        }

        > .icons
        {
          display: inline-block;
          position: absolute;
          right: -$font-size-base;
          top: -0.75 * $font-size-base;
          bottom: -0.75 * $font-size-base;
          white-space: nowrap;
          background-color: $well-bg;

          > table
          {
            height: 100%;
          }
        }
      }

      > .expanded.block
      {
        label
        {
          font-size: $font-size-h5 * 1.1;
          letter-spacing: 0.75px;
        }

        .form-control
        {
          font-size: $font-size-h5 * 1.22;
        }

        .abs-bottom
        {
          position: absolute;
          bottom: 0;
        }

        > .buttons
        {
          @include clearfix;
          margin-top: $font-size-h5 * 1.44;

          > div
          {
            display: inline-block;
          }

          .left
          {
            float: left;
          }

          .right
          {
            float: right;
          }

          .btn + .btn
          {
            margin-left: $font-size-h5;
          }
        }
      }

      @mixin else-bg($bg)
      {
        background-color: $bg;

        > .compacted.line
        {
          > .icons
          {
            background-color: $bg;
          }
        }
      }

      &.odd
      {
        @include else-bg($well-bg-odd)
      }

      &.alter
      {
        @include else-bg($well-bg-alter)
      }

      &.alter.odd
      {
        @include else-bg($well-bg-alter-odd)
      }
    }
  }
}