
/* Typography */



p
{
  margin: 0;
}

p + p
{
  margin-top: floor($font-size-base * 0.75);
}



@mixin alter-text()
{
  background: $alter-bg;
  color: $alter-text-color;
}



/* Checkbox Toggle */

@mixin label-toggle($radius, $bwidth, $pad, $bcolor, $bcolora, $bg, $bga, $rcolor, $rcolora, $trans)
{
  display: inline-block;
  position: relative;
  width: 2 * ($radius + $bwidth + $pad);
  height: $radius + 2 * ($bwidth + $pad);
  border-radius: $radius + 2 * ($bwidth + $pad);
  border: $bwidth solid $bcolor;
  background-color: $bg;
  transition: $trans;
  cursor: pointer;

  > input[type=checkbox]
  {
    display: none;
  }

  &::before
  {
    display: block;
    position: absolute;
    content: "";
    top: $pad;
    left: $pad;
    bottom: $pad;
    width: $radius;
    border-radius: $radius;
    background-color: $rcolor;
    transition: $trans;
  }

  &.checked
  {
    border-color: $bcolora;
    background-color: $bga;

    &::before
    {
      margin-left: $radius;
      background-color: $rcolora;
    }
  }
}


/* Slider */

@mixin slider($width, $height, $color)
{
  display: inline-block;
  width: $width;
  height: $height;
  padding: 0;
  border-radius: $height;
  border: 1px solid $color;
  background: rgba($color, 0.2);
  cursor: pointer;

  div
  {
    position: relative;
    min-width: $height;
    max-width: 100% !important;
    height: $height - 2px;
    background: rgba($color, 0.4);
    border-radius: $height - 2px;
    cursor: pointer;

    &::before, &::after
    {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      border-left: $height * 0.5 solid transparent;
      border-right: $height * 0.5 solid transparent;
    }

    &::before
    {
      top: -($height - 2px);
      border-top: $height * 0.5 solid $color;
    }

    &::after
    {
      top: $height + 2px;
      border-bottom: $height * 0.5 solid $color;
    }
  }
}





/* Navigation Bar (Tablet) */

$nav-height-tablet : 65px;

body.tablet .mainav
{
  padding-top: 5px;
  height: $nav-height-tablet - 15px;
  background: linear-gradient(to bottom, $gray-darker 0, $gray-darkest 100%);

  &.glow
  {
    box-shadow: 0 3px 15px 0 $border-frame-color;
  }

  &:not(.glow)
  {
    border-bottom: 1px solid darken($border-frame-color, 33%);
  }

  ul
  {
    @include list-unstyled;

    height: $nav-height-tablet - 25px;
    padding: 0 70px 0 50px;
    overflow: hidden;
    margin: 0;

    li
    {
      @include font-thin-large;

      position: relative;
      display: table-cell;
      height: $nav-height-tablet - 25px;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;

      &.menu
      {
        &.active, &.attention.active
        {
          color: $primary-color;
        }

        &.attention
        {
          color: $attention-color;
          font-weight: $font-weight-base;
        }

        &:not(.hidden) + li.menu::before
        {
          content: "";
          display: inline-block;
          width: 10px;
        }

        @include keyframes(tablet-menu-swiping-out)
        {
          from { top: 0 }
          to   { top: -40px }
        }

        @include keyframes(tablet-menu-swiping-in)
        {
          from { top: 40px }
          to   { top: 0 }
        }

        &.swipeout
        {
          @include animation-name(tablet-menu-swiping-out);
          @include animation-duration(0.5s);
        }

        &.swipein:not(.zero)
        {
          @include animation-name(tablet-menu-swiping-in);
          @include animation-duration(0.5s);
        }
      }

      &.glue
      {
        width: 100%;
        padding: 0;
      }
    }

    i.menu-bars
    {
      position: absolute;
      left: 10px;
      top: 15px;
      width: 24px;
      height: 20.25px;
    }

    i.easy-screens-logo
    {
      position: absolute;
      width: 55px;
      height: 44px;
      top: 5px;
      right: 5px;
    }
  }
}


/* Navigation Bar (Phone) */

$nav-height-phone : 45px;

body.phone .mainav
{
  padding-top: 1px;
  height: $nav-height-phone - 9px;
  background: linear-gradient(to bottom, $gray-darker 0, $gray-darkest 100%);
  transition: height 0.5s;

  &.glow
  {
    box-shadow: 0 3px 10px 0 $border-frame-color;
  }

  &:not(.glow)
  {
    border-bottom: 1px solid darken($border-frame-color, 33%);
  }

  ul
  {
    @include list-unstyled;

    height: $nav-height-phone - 13px;
    padding: 0 55px 0 40px;
    overflow: hidden;
    margin: 0;

    li
    {
      @include font-thin-large;

      position: relative;
      display: table-cell;
      height: $nav-height-phone - 13px;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;

      &.menu
      {
        &.active, &.attention.active
        {
          color: $primary-color;
        }

        &.attention
        {
          color: $attention-color;
          font-weight: $font-weight-base;
        }

        &:not(.hidden) + li.menu::before
        {
          content: "";
          display: inline-block;
          width: 10px;
        }
      }

      &.glue
      {
        width: 100%;
        min-width: 10px;
        padding: 0;
      }
    }

    i.menu-bars
    {
      position: absolute;
      left: 6px;
      top: 8px;
      width: 24px;
      height: 20.25px;
    }

    i.easy-screens-logo
    {
      position: absolute;
      width: 44px;
      height: 32px;
      top: 1.5px;
      right: 2px;
    }
  }
}

$nav-height-phone-exp : 2 * $nav-height-phone - 10px;

body.phone.menu-expanded .mainav
{
  height: $nav-height-phone-exp - 8px;

  ul:nth-child(2)
  {
    margin-top: 3px;
  }
}


/* Content Page (General, Desktop) */

article.content.page
{
  @include abscroll;
  top: $nav-height-desktop;

  > .content-wrapper
  {
    overflow: hidden;
  }

  section.wide
  {
    @include alter-text;

    position: relative;
    top: 0;
    margin-top: 2*$font-size-h3;
    transition: top 1s, width 0.5s, height 0.5s;

    @media (min-width : $main-width)
    {
      left: 50%;
      width: $main-width + 50px;
      margin-left: -($main-width + 50px)*0.5;
    }

    @media (min-width : $large-width)
    {
      left: 50%;
      width: $large-width - 100px;
      margin-left: -($large-width - 100px)*0.5 + 50px;
    }

    &.alter
    {
      @media (min-width : $large-width)
      {
        left: 50%;
        width: $large-width - 100px;
        margin-left: -($large-width - 100px)*0.5 - 50px;

        > .narrow
        {
          left: 150px;
        }
      }
    }

    &.active, &.alter.active
    {
      @media (min-width : $large-width)
      {
        width: $large-width - 200px;
        margin-left: -($large-width - 200px)*0.5;

        > .narrow
        {
          left: 50px;
        }
      }
    }

    > .narrow
    {
      position: relative;
      transition: left 0.5s;

      @media (min-width : $main-width)
      {
        width: $main-width;
        left: 25px;
      }

      @media (min-width : $large-width)
      {
        left: 50px;
      }
    }

    .definition
    {
      @include hyphens-auto;

      position: relative;
      font-size: $font-size-h3;
      line-height: floor($font-size-h3 * 1.44);
      padding: 2*$font-size-h3 0;

      &.withmore
      {
        padding-bottom: 3*$font-size-h3;
      }

      &.text-left
      {
        text-align: left;
      }

      &.sided
      {
        @media (min-width : $main-width)
        {
          width: 75%;
        }

        &.alter
        {
          left: 25%;
        }

        &:not(.alter)::after, &.alter::before
        {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          width: 50px;
          height: 100%;
        }

        &:not(.alter)::after
        {
          @media (min-width : $main-width)
          {
            right: -$main-width * 0.25;
          }
        }

        &.alter::before
        {
          @media (min-width : $main-width)
          {
            left: -$main-width * 0.25;
          }
        }

        span.read-more
        {
          @include pointer;

          position: absolute;
          display: inline-block;
          font-size: floor($font-size-h3 / 1.44);
          font-weight: $headings-font-weight;
          margin-top: floor($font-size-h3 * 1.88);
        }

        &:not(.alter) span.read-more
        {
          left: 0;
        }

        &.alter span.read-more
        {
          right: 0;
        }

        & span.read-more:hover
        {
          color: $primary-color;
        }
      }
    }

    .color-0::before { background: #afbfaa; }
    .color-1::after  { background: #f49c86; }
    .color-2::before { background: #756c5c; }
    .color-3::after  { background: #fcceae; }
    .color-4::before { background: #9fa4a9; }
    .color-5::after  { background: #cbc0d3; }
    .color-6::before { background: #6c809a; }
    .color-7::after  { background: #b5ffe1; }
    .color-8::before { background: #8e5572; }
    .color-9::after  { background: $primary-color; }

    .more
    {
      @include alter-text;
      @include hyphens-auto;

      position: absolute;
      margin-top: 2*$font-size-h3;
      font-size: $font-size-h4;
      height: 1px;
      overflow: hidden;
      transition: height 1s;

      > div
      {
        @media (min-width : $main-width)
        {
          padding: 2*$font-size-h4 25px;
        }

        @media (min-width : $large-width)
        {
          padding: 2*$font-size-h4 50px;
        }
      }
    }

    &.scroll-notify.part
    {
      color: rgba($alter-text-color, 0.25);

      .entering, .leaving
      {
        transition: color 0.75s;
      }
    }

    &:last-child
    {
      margin-bottom: 25%;
    }
  }
}


/* Content Page (Tablet) */

body.tablet article.content.page
{
  @include abscroll;
  top: $nav-height-tablet;

  .content-wrapper
  {
    overflow: hidden;
  }

  section.wide
  {
    margin-top: 2*$font-size-h5;

    .definition
    {
      font-size: $font-size-h4;
      line-height: $font-size-h3;
      padding: 2*$font-size-h5 0;

      &.withmore
      {
        padding-bottom: 3*$font-size-h5;
      }

      &.sided
      {
        width: calc(100% - 75px);
        left: 15px;

        &.alter
        {
          left: 60px;
        }

        &:not(.alter)::after, &.alter::before
        {
          width: 35px;
        }

        &:not(.alter)::after
        {
          right: -50px;
        }

        &.alter::before
        {
          left: -50px;
        }

        & span.read-more
        {
          font-size: floor($font-size-h4 / 1.22);
          margin-top: floor($font-size-h4 * 1.88);
        }
      }
    }

    .more
    {
      margin-top: 2*$font-size-h4;
      font-size: floor($font-size-h4 / 1.1);
      line-height: $font-size-h4;

      > div
      {
        padding: 2*$font-size-h5 10px 2*$font-size-h5 15px;
      }

      > div.alter
      {
        padding: 2*$font-size-h5 15px 2*$font-size-h5 10px;
      }
    }
  }
}


/* Content Page (Phone) */

body.phone article.content.page
{
  @include abscroll;
  top: $nav-height-phone;
  transition: top 0.5s;

  .content-wrapper
  {
    overflow: hidden;
  }

  section.wide
  {
    margin-top: $font-size-h6;

    &:first-child, &.withmore
    {
      margin-top: 0;
    }

    .definition
    {
      font-size: floor($font-size-h5 * 10 / 1.1) * 0.1;
      line-height: $font-size-h4;
      padding: $font-size-h5 0;

      &.withmore
      {
        padding-bottom: 3*$font-size-h6;
      }

      &.sided
      {
        width: calc(100% - 45px);
        left: 5px;

        &.alter
        {
          left: 40px;
        }

        &:not(.alter)::after, &.alter::before
        {
          width: 15px;
        }

        &:not(.alter)::after
        {
          right: -35px;
        }

        &.alter::before
        {
          left: -35px;
        }

        & span.read-more
        {
          font-size: floor($font-size-h5 / 1.22);
          margin-top: floor($font-size-h5 * 1.88);
        }
      }
    }

    .more
    {
      margin-top: $font-size-h5;
      font-size: $font-size-h6;
      line-height: $font-size-h5;

      > div
      {
        padding: $font-size-h6 5px $font-size-h6 5px;
      }
    }
  }
}

body.phone.menu-expanded article.content.page
{
  top: $nav-height-phone-exp;
}


/* Content Page Well Wrapper */

section.content.well-wrapper
{
  @include scroll-y;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  body.pulsing &
  {
    overflow: hidden;
  }
}

body.desktop section.content.well-wrapper
{
  top: $nav-height-desktop;
}

body.tablet section.content.well-wrapper
{
  top: $nav-height-tablet;
}

body.phone section.content.well-wrapper
{
  top: $nav-height-phone;
  transition: top 0.5s;
}

body.phone.menu-expanded section.content.well-wrapper
{
  top: $nav-height-phone-exp;
}

@mixin abswellheight-desktop($height)
{
  position: absolute;
  top: 0;
  margin-top: 0;
  height: $height * 1.25;
  padding-bottom: $height * 0.25;

  @media (min-height : $height + $nav-height-desktop * 2)
  {
    top: 50%;
    height: $height;
    padding-bottom: 0;
    margin-top: -($height + $nav-height-desktop) * 0.5;
  }
}

@mixin abswellheight-tablet($height)
{
  position: absolute;
  top: 0;
  margin-top: 0;
  height: $height * 1.25;
  padding-bottom: $height * 0.25;

  @media (min-height : $height + $nav-height-tablet * 2)
  {
    top: 50%;
    height: $height;
    padding-bottom: 0;
    margin-top: -($height + $nav-height-tablet) * 0.5;
  }
}


/* Contacts Page Well */

@mixin well-general()
{
  overflow: hidden;

  > .content-wrapper
  {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: $well-padding;
    background-color: $well-bg;
    border: 1px solid $border-frame-color;

    > h3
    {
      text-align: center;
      letter-spacing: 0.5px;
      font-weight: 100;
    }

    > h3:first-child
    {
      margin: 0 0 floor($font-size-h3 * 1.44) 0;
    }
  }

  &:not(.open) > .content-wrapper > *
  {
    display: none !important;
  }
}

article.content.well.contacts-like
{
  @include well-general;

  > .content-wrapper
  {
    p
    {
      @include hyphens-auto;
      position: relative;

      &.left
      {
        width: 66%;
      }

      b, strong
      {
        color: $text-color-strong;
      }
    }

    > div.contacts
    {
      display: inline-block;
      position: absolute;
      bottom: $well-padding;
      right: 15%;

      & *
      {
        @include user-select(text);
      }

      h4
      {
        font-weight: 100;
        margin: 0 0 floor($font-size-h4 * 0.5) 0;
      }

      > span
      {
        display: block;
        text-align: right;
        font-size: $font-size-h4;
        line-height: floor($font-size-h4 * 1.88);
        font-weight: 100;
        white-space: nowrap;

        a
        {
          cursor: pointer;
          color: $text-color-strong;
          letter-spacing: 0.5px;

          &.phone span
          {
            display: inline-block;
            width: floor($font-size-h4 * 0.25);
          }
        }

        &.address
        {
          font-size: $font-size-h5;
        }
      }
    }
  }
}


/* Contacts Page Well (Desktop) */

@mixin well-horizontal()
{
  > .content-wrapper
  {
    border-width: 0 1px 0 1px;

    &::before, &::after
    {
      content: "";
      display: block;
      position: absolute;
      width: $well-padding * 2;
    }

    &::before
    {
      left: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(to right, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }

    &::after
    {
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to left, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }
  }
}

body.desktop article.content.well.contacts-like
{
  @include well-horizontal;
  @include abswidth($main-width);

  &:not(.open)
  {
    transition: margin-left 0.5s, width 0.5s;
  }

  &.invisible
  {
    width: 0;
    margin-left: 0;
    transition: 0s;
  }

  > .content-wrapper
  {
    padding: $well-padding 15%;
  }
}

body.desktop article.content.well.contacts
{
  @include abswellheight-desktop($main-width * 0.55);
}


/* Contacts Page Well (Shared for Tablet, Phone) */

@mixin well-vertical()
{
  > .content-wrapper
  {
    border-width: 1px 0 1px 0;

    &::before, &::after
    {
      content: "";
      display: block;
      position: absolute;
      height: $well-padding;
    }

    &::before
    {
      left: 0;
      top: 0;
      right: 0;
      background: linear-gradient(to bottom, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }

    &::after
    {
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top, darken($well-border, 20%) 0, darken($well-border, 40%) 20%, rgba(darken($well-border, 40%), 0.01) 100% );
    }
  }
}

body.tablet article.content.well.contacts-like,
body.phone article.content.well.contacts-like
{
  @include well-vertical;

  > .content-wrapper
  {
    h3
    {
      font-size: $font-size-h4;
      margin: 0 0 floor($font-size-h4 * 1.44) 0;
    }

    p
    {
      &.left
      {
        width: 80%;
        left: 20%;
      }
    }

    > div.contacts
    {
      right: auto;
      left: $well-padding;

      > span
      {
        text-align: left;
        font-size: floor($font-size-h4 * 10 / 1.1) * 0.1;
        line-height: floor($font-size-h4 * 10 * 1.44) * 0.1;

        &.address
        {
          font-size: floor($font-size-h5 * 10 / 1.1) * 0.1;
        }
      }
    }
  }
}

body.phone article.content.well.contacts-like
{
  > .content-wrapper p.left
  {
    width: 100%;
    left: 0;
  }
}


/* Contacts Page Well (Tablet) */

body.tablet article.content.well.contacts-like
{
  @include abswidth(100%);

  &:not(.open)
  {
    transition: margin-top 0.5s, height 0.5s;
  }

  &.invisible
  {
    height: 0;
    margin-top: 0;
    transition: 0s;
  }
}

body.tablet article.content.well.contacts
{
  @include abswellheight-tablet($main-width * 0.45);
}


/* Contacts Page Well (Phone) */

body.phone article.content.well.contacts-like
{
  @include abswidth(100%);
  top: 0;

  &:not(.open)
  {
    transition: height 0.5s;
  }

  &.invisible
  {
    height: 0;
    transition: 0s;
  }

  > .content-wrapper
  {
    h3
    {
      font-size: $font-size-h4;
      margin: 0 0 floor($font-size-h4 * 1.44) 0;
    }

    p
    {
      font-size: floor($font-size-base * 10 / 1.1) * 0.1;
      line-height: floor($font-size-base * 10 * 1.22) * 0.1;
    }
  }
}

body.phone article.content.well.contacts
{
  height: 550px;
  padding-bottom: 100px;

  @media (min-width: 380px)
  {
    height: 500px;
  }
}


/* Content Well (Adaptations) for the Investments */

body.desktop article.content.well.invest
{
  @include abswellheight-desktop($main-width * 0.6);
}

body.tablet article.content.well.invest
{
  @include abswellheight-tablet($main-width * 0.5);
}

body.phone article.content.well.invest
{
  height: 630px;
  padding-bottom: 100px;

  @media (min-width: 380px)
  {
    height: 555px;
  }
}


/* Prices Page Well (Shared) */

@mixin article-well-prices($radius, $font-size, $padded)
{
  @include well-general;
  @include well-vertical;

  &:not(.open)
  {
    height: 110%;
    transition: height 0.5s;
  }

  &.invisible
  {
    height: 0;
    transition: 0s;
  }

  > .content-wrapper
  {
    margin-bottom: 10 * $font-size;
  }

  $bwidth        : 1px;
  $pad           : 2px;
  $bcolor        : $text-color;
  $bcolora       : $primary-color;
  $bg            : rgba(lighten($well-bg, 10%), 0.1);
  $bga           : rgba(darken($primary-color, 10%), 0.25);
  $rcolor        : $text-color;
  $rcolora       : lighten($text-color, 25%);
  $trans         : 0.5s;

  $line-height   : $radius + 2 * ($bwidth + $pad);
  $line-min      : $line-height * 0.5;
  $toggle-width  : 2 * ($radius + $bwidth + $pad);
  $toggle-offset : if($padded, $toggle-width + $font-size, 0px);

  .price-item
  {
    margin-top: $font-size * 0.5;

    > header
    {
      label.toggle
      {
        @include label-toggle($radius, $bwidth, $pad, $bcolor, $bcolora, $bg, $bga, $rcolor, $rcolora, $trans);
        float: left;
      }

      line-height: $line-height;

      > span
      {
        display: inline-block;
        font-weight: 100;
        font-size: $font-size;

        &.title
        {
          margin-left: $font-size;
          max-width: calc(100% - #{2 * $toggle-offset + 14 * $font-size});
          line-height: $font-size;
        }
      }

      .price-block
      {
        float: right;
        height: $line-height;
        padding-right: $toggle-offset;

        i
        {
          margin-left: $font-size * 0.25;
          width: $font-size * 1.5;
          height: $font-size * 1.5;
        }

        .price
        {
          display: inline-block;
          font-weight: 100;
          font-size: $line-height;
        }

        .min
        {
          line-height: $line-min;
          text-align: right;

          .price
          {
            font-size: $line-min;
          }

          i.price-ruble
          {
            width: 12px;
            height: 13.5px;
            margin-left: $line-min * 0.125;
          }

          .title
          {
            text-transform: uppercase;
            font-size: $line-min * 0.66;
            margin-right: $line-min * 0.25;
          }
        }
      }

      &.min
      {
        padding-bottom: $line-min;
      }
    }

    &.active
    {
      > header
      {
        > span.title
        {
          color: $primary-color;
        }
      }

      .price-block
      {
        color: $primary-color;
      }
    }

    > .about
    {
      padding: $font-size $toggle-offset;
      font-size: floor(0.88 * $font-size);
      line-height: $font-size;

      p
      {
        @include hyphens-auto;

        a
        {
          cursor: pointer;
          color: $text-color-strong;
        }

        strong
        {
          color: $text-color-strong;
        }
      }
    }
  }

  footer.totals
  {
    margin: $font-size $toggle-offset;
    padding-top: $font-size;
    border-top: 2px solid $primary-color;

    > span
    {
      display: block;
      color: $primary-color;

      &.title
      {
        position: relative;
        text-transform: uppercase;
        font-size: $font-size * 2.44;
        font-weight: 100;
        letter-spacing: 1px;

        .slider
        {
          $width  : 12 * $font-size;
          $height : 10px;
          $color  : $primary-color;

          @include slider($width, $height, $color);

          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -0.5 * $height;
        }
      }

      &.month, &.single, &.devices
      {
        text-align: right;

        .title
        {
          text-transform: uppercase;
          font-size: $line-min * 0.8;
          letter-spacing: 0.5px;
        }

        .price, .number
        {
          display: inline-block;
          font-weight: 100;
          font-size: $line-height;
          min-width: 4.5 * $line-height;
        }

        i
        {
          height: $line-height * 0.75;
          width: $font-size * 1.65;
        }
      }
    }
  }
}


/* Prices Page Well (Desktop) */

body.desktop article.well.prices
{
  $radius : 30px;

  @include abswidth($main-width);
  @include article-well-prices($radius, $font-size-h4, true);
}


/* Prices Page Well (Tablet) */

body.tablet article.well.prices
{
  $radius : 20px;

  @include abswidth(100%);
  @include article-well-prices($radius, $font-size-h5, false);
}


/* Prices Page Well (Phone) */

body.phone article.well.prices
{
  $radius : 12px;

  @include abswidth(100%);
  @include article-well-prices($radius, $font-size-h6, false);
}


/* Main Video Content */

.content.page > .video.wrapper.w16h9
{
  position: absolute;

  >iframe
  {
    border: none;
    width: 100%;
    height: 100%;
  }

  body.desktop &
  {
    left: 50%;
    top: 50%;
    width: $main-width;
    height: round($main-width * 9 / 16);
    margin-left: -$main-width * 0.5;
    margin-top: round(-$main-width * 9 / 32);

    @media (min-width : $large-width)
    {
      width: $large-width;
      height: round($large-width * 9 / 16);
      margin-left: -$large-width * 0.5;
      margin-top: round(-$large-width * 9 / 32);
    }
  }

  body.tablet &, body.phone &
  {
    left: 5px;
    right: 5px;

    &::before
    {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    >iframe
    {
      position: absolute;
      top: 0;
    }
  }
}
