
/* Typography & Fonts */

$font-family-sans-serif:  Roboto;
$font-family-serif:       serif;
$font-family-monospace:   monospace;
$font-size-h5:            16px;
$font-weight-base:        300;
$headings-font-weight:    400;
$font-weight-thin:        100;
$link-hover-decoration:   none;
$btn-font-weight:         $font-weight-base;


/* Colors */

$body-bg:                 #111111;
$text-color:              #c8c8c8;
$text-color-strong:       #e7e7e7;
$alter-text-color:        #595959;
$gray-darkest:            #0d0d0d;
$primary-color:           #4CB5FC;
$secondary-color:         #34373F;
$brand-primary:           $primary-color;
$attention-color:         #e4a44a;
$overflash-color:         #de2510;
$brand-warning:           $attention-color;
$border-frame-color:      rgba($primary-color, 0.2);
$well-border:             $border-frame-color;
$well-bg:                 #1E2C36;
$well-bg-odd:             #20394B;
$well-bg-alter:           #422919;
$well-bg-alter-odd:       #653f26;
$input-color:             $text-color-strong;
$input-color-error:       #c96d1f;
$input-bg:                #284974;
$input-bg-disabled:       darken($input-bg, 5%);
$input-border:            #3a5b86;
$input-border-disabled:   darken($input-border, 5%);
$well-text-color:         $text-color;
$link-color:              $text-color;
$link-hover-color:        $text-color-strong;
$dropdown-bg:             lighten($well-bg, 15%);
$dropdown-border:         $dropdown-bg;


/* Button Colors */

$btn-default-color:       $text-color-strong;
$btn-default-bg:          $input-bg;
$btn-default-border:      $btn-default-bg;

$btn-primary-color:       $text-color-strong;
$btn-primary-bg:          $primary-color;
$btn-primary-border:      $btn-primary-bg;

$btn-success-color:       $text-color-strong;
$btn-success-bg:          #23ab23;
$btn-success-border:      $btn-success-bg;

$btn-info-color:          $text-color-strong;
$btn-info-bg:             #159ae3;
$btn-info-border:         $btn-info-bg;

$btn-warning-color:       $text-color-strong;
$btn-warning-bg:          $attention-color;
$btn-warning-border:      $btn-warning-bg;

$btn-danger-color:        $text-color-strong;
$btn-danger-bg:           $overflash-color;
$btn-danger-border:       $btn-danger-bg;


/* Dimensions */

$screen-xs-min:           1px;
$screen-sm-min:           548px;
$screen-md-min:           736px;
$main-width:              900px;
$tablet-width:            480px;
$border-radius-base:      5px;
$input-height-base:       36px;
$padding-base-horizontal: 8px;
$padding-base-vertical:   8px;
$well-padding:            20px;
