<?xml version = '1.0' encoding = 'UTF-8'?>

<Configuration packages = 'net.java.web.warlord.log'>

  <Appenders>

    <File name = 'info' append = 'false' bufferSize = '512'
      fileName = '${sys:catalina.base}/logs/warlord.info.log'>

      <PatternLayout pattern = '%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
      <filters>
        <ThresholdFilter level = 'INFO'/>
      </filters>
    </File>

    <File name = 'debug' append = 'false' bufferSize = '2048'
      fileName = '${sys:catalina.base}/logs/warlord.debug.log'>

      <PatternLayout pattern = '%-5p %d{HH:mm:ss.SSS} [%t] %c{1}: %m%n'/>
    </File>

    <File name = 'debug.json' append = 'false' bufferSize = '2048'
      fileName = '${sys:catalina.base}/logs/warlord.debug.json'>

      <FastJSONLayout/>
    </File>
  </Appenders>

  <Loggers>
    <Root level = 'DEBUG'>
      <AppenderRef ref = 'info'/>
      <AppenderRef ref = 'debug'/>
      <AppenderRef ref = 'debug.json'/>
    </Root>
  </Loggers>
</Configuration>